<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/school_db</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">secret</property>
        
        <!-- C3P0 connection pool -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        
        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        
        <!-- Show SQL -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        
        <!-- Auto schema -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <!-- Mapping (both XML and annotated classes) -->
        <mapping resource="com/school/model/Student.hbm.xml"/>
        <mapping class="com.school.model.Teacher"/>
    </session-factory>
</hibernate-configuration>